.contact-details{
    padding: 4rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    width: 50%;
}
.contact-left h2{
    font-size: calc(2.7rem + 0.5vw);
    font-weight: 700;
}
.contact-left h2 span{
    color: #3ebf89;
}
.contact-left p{
    margin-top: 1rem;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
}
.contact-details-boxes-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.contact-details-boxes-row .details-box{
    width: 48%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.7rem;
    box-shadow: rgba(46, 46, 46, 0.327) 0px 2px 8px 0px;
}
.contact-details-boxes-row .details-box span{
    color: #3ebf89;
    font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
}
.contact-details-boxes-row .details-box a{
    color: #313131;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    display: block;
    text-decoration: none;
}
.contact-details-boxes-row .details-box a:hover{
    color: #3ebf89;
}
.contact-details-boxes-row .details-box .social-icons{
    display: flex;
    gap: 1rem;
}
.contact-details-boxes-row .details-box .social-icons a{
    background-color: #3ebf89;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.7rem + 0.5vw);
    transition: all 0.2s ease;
}
.contact-details-boxes-row .details-box .social-icons a:hover{
    background-color: #128454;
}

.contact-right{
    width: 43%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-details{
        padding: 3.5rem 7%;
    }
    .contact-left h2{
        font-size: calc(2.5rem + 0.5vw);
    }
    .contact-left p{
        margin-top: 0.9rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .contact-details-boxes-row{
        margin-top: 2.8rem;
    }
    .contact-details-boxes-row .details-box{
        padding: 0.9rem;
        border-radius: 8px;
        margin-bottom: 1.5rem;
    }
    .contact-details-boxes-row .details-box span{
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 0.9rem;
    }
    .contact-details-boxes-row .details-box a{
        font-size: calc(0.65rem + 0.5vw);
    }
    .contact-details-boxes-row .details-box .social-icons{
        gap: 0.9rem;
    }
    .contact-details-boxes-row .details-box .social-icons a{
        width: 29px;
        height: 29px;
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-details{
        padding: 3rem 7%;
    }
    .contact-left h2{
        font-size: calc(2.3rem + 0.5vw);
    }
    .contact-left p{
        margin-top: 0.8rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .contact-details-boxes-row{
        margin-top: 2.6rem;
    }
    .contact-details-boxes-row .details-box{
        padding: 0.8rem;
        border-radius: 7px;
        margin-bottom: 1.3rem;
    }
    .contact-details-boxes-row .details-box span{
        font-size: calc(0.8rem + 0.5vw);
        margin-bottom: 0.8rem;
    }
    .contact-details-boxes-row .details-box a{
        font-size: calc(0.6rem + 0.5vw);
    }
    .contact-details-boxes-row .details-box .social-icons{
        gap: 0.8rem;
    }
    .contact-details-boxes-row .details-box .social-icons a{
        width: 27px;
        height: 27px;
        font-size: calc(0.6rem + 0.5vw);
    }
}