.who-we-are{
    padding: 3rem 7%;
    overflow: hidden;
}
.who-we-are h1{
    text-align: center;
    font-size: calc(7rem + 0.5vw);
    font-weight: 900;
    background-image: url('../../assets//images//about-head-bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bgMove 7s ease-in-out infinite alternate;
}
@keyframes bgMove {
    0% {
      background-position: center top;
    }
    100% {
      background-position: center bottom;
    }
}

.who-we-are-content{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.who-we-are-left,
.who-we-are-center,
.who-we-are-right{
    width: 30%;
    z-index: 2;
}

.who-we-are-left h2{
    color: #000;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
}
.who-we-are-left h2 span{
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 200;
    white-space: nowrap;
    color: #4a4a4a;
}
.who-we-are-left .about-btn{
    background-color: transparent;
    color: #4a4a4a;
    border: 2px solid #3ebf89;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 550;
    font-size: calc(0.7rem + 0.5vw);
    font-family: "Anek Bangla", sans-serif !important;
    text-transform: none;
}
.who-we-are-left .about-btn:hover{
    background-color: #3ebf89;
    color: #fff;
}
.who-we-are-center img{
    width: 100%;
}
.who-we-are-right p{
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
}
#who-we-are-bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(28rem + 0.5vw);
    font-weight: 900;
    /* color: #fef7db; */
    color: #d4f9eb;
    letter-spacing: 10px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    display: block;
}