.who-we-are{
    padding: 3rem 7%;
    overflow: hidden;
}
.who-we-are h1{
    text-align: center;
    font-size: calc(7rem + 0.5vw);
    font-weight: 900;
    background-image: url('../../assets//images//about-head-bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bgMove 7s ease-in-out infinite alternate;
}
@keyframes bgMove {
    0% {
      background-position: center top;
    }
    100% {
      background-position: center bottom;
    }
}

.who-we-are-content{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.who-we-are-left,
.who-we-are-center,
.who-we-are-right{
    width: 30%;
    z-index: 2;
}

.who-we-are-left h2{
    color: #000;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
}
.who-we-are-left h2 span{
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 200;
    white-space: nowrap;
    color: #4a4a4a;
}
.who-we-are-left .about-btn{
    background-color: transparent;
    color: #4a4a4a;
    border: 2px solid #3ebf89;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 550;
    font-size: calc(0.7rem + 0.5vw);
    font-family: "Anek Bangla", sans-serif !important;
    text-transform: none;
}
.who-we-are-left .about-btn:hover{
    background-color: #3ebf89;
    color: #fff;
}
.who-we-are-center img{
    width: 100%;
}
.who-we-are-right p{
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
}
#who-we-are-bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(28rem + 0.5vw);
    font-weight: 900;
    color: #d4f9eb;
    letter-spacing: 10px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    display: block;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .who-we-are{
        padding: 2.5rem 7%;
    }
    .who-we-are h1{
        font-size: calc(6.5rem + 0.5vw);
    }
    .who-we-are-content{
        margin-top: 4.5rem;
    }
    .who-we-are-left h2{
        font-size: calc(3.2rem + 0.5vw);
    }
    .who-we-are-left h2 span{
        font-size: calc(2.2rem + 0.5vw);
    }
    .who-we-are-left .about-btn{
        border: 1.5px solid #3ebf89;
        margin-top: 0.9rem;
        padding: 0.45rem 1.4rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .who-we-are-right p{
        font-size: calc(0.65rem + 0.5vw);
    }
    #who-we-are-bg-text{
        font-size: calc(25rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .who-we-are{
        padding: 2rem 7%;
    }
    .who-we-are h1{
        font-size: calc(6rem + 0.5vw);
    }
    .who-we-are-content{
        margin-top: 4rem;
    }
    .who-we-are-left h2{
        font-size: calc(2.9rem + 0.5vw);
    }
    .who-we-are-left h2 span{
        font-size: calc(1.9rem + 0.5vw);
    }
    .who-we-are-left .about-btn{
        border: 1.5px solid #3ebf89;
        margin-top: 0.8rem;
        padding: 0.4rem 1.3rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .who-we-are-right p{
        font-size: calc(0.6rem + 0.5vw);
    }
    #who-we-are-bg-text{
        font-size: calc(22rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .who-we-are{
        padding: 1rem 1rem 0 1rem;
    }
    .who-we-are h1{
        font-size: calc(3rem + 0.5vw);
        animation: bgMove 2s ease-in-out infinite alternate;
    }
    .who-we-are-content{
        margin-top: 1.5rem;
    }
    .who-we-are-left,
    .who-we-are-center,
    .who-we-are-right{
        width: 100%;
    }

    .who-we-are-left h2{
        font-size: calc(2rem + 0.5vw);
    }
    .who-we-are-left h2 span{
        font-size: calc(1.9rem + 0.5vw);
    }
    .who-we-are-left .about-btn{
        margin-top: 0.5rem;
        padding: 0.2rem 0.9rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .who-we-are-left .about-btn:hover{
        background-color: #3ebf89;
        color: #fff;
    }
    .who-we-are-center{
        display: flex;
        justify-content: center;
        margin: 1.5rem 0 2rem 0;
    }
    .who-we-are-center img{
        width: 60%;
    }
    .who-we-are-right p{
        font-size: calc(0.9rem + 0.5vw);
    }
    #who-we-are-bg-text{
        font-size: calc(8rem + 0.5vw);
        letter-spacing: 5px;
        top: 42%;
    }
}