.team{
    padding: 1rem 7% 5.5rem 7%;
}
.team .team-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team .team-head h5{
    color: #3ebf89;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    text-align: center;
}
.team .team-head h5 span{
    font-weight: 300;
}
.team .team-head p{
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    width: 60%;
}
.team .team-row{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team .team-box{
    width: 24%;
    overflow: hidden;
    position: relative;
}
.team .team-box img{
    width: 100%;
    scale: 1;
    transition: all 0.4s ease;
}
.team .team-box:hover img{
    scale: 1.05;
}
.team .team-box .team-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    color: #fff;
}
.team .team-box .team-content span{
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 600;
}
.team .team-box .team-content p{
    font-size: calc(0.4rem + 0.5vw);
    margin-bottom: 0;
}
.team .team-box .team-content .social-icons{
    display: flex;
    gap: 0.7rem;
    margin-top: 0.7rem;
}
.team .team-box .team-content .social-icons a{
    color: #fff;
    font-size: calc(0.5rem + 0.5vw);
    background-color: #3ebf89;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.team .team-box .team-content .social-icons a:first-child{
    font-size: calc(0.55rem + 0.5vw);
}
.team .team-box .team-content .social-icons a:hover{
    color: #3ebf89;
    background-color: #fff;
}