.highlights-cards-row{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    position: relative;
}
.highlights-cards-row .highlight-card{
    width: 24%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e0e0e0;
}
.highlights-cards-row .highlight-card:last-child{
    border-right: none;
}
.highlights-cards-row .highlight-card img{
    width: 27%;
}
.highlights-cards-row .highlight-card span{
    color: #044b2d;
    font-size: calc(1rem + 0.5vw);
    font-weight: 500;
    display: block;
    margin-top: 1.5rem;
}
.highlights-cards-row .highlight-card p{
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 0.4rem;
    text-align: center;
    font-weight: 450;
}
.highlights-cards-row .highlight-card a{
    color: #3ebf89;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 450;
    text-decoration: none;
    display: block;
    margin-top: 0.5rem;
    background-color: #f7f7f7;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    transition: all 0.2s ease;
}
.highlights-cards-row .highlight-card a:hover{
    color: #fff;
    background-color: #3ebf89;
}
.highlights-cards-row .grass{
    width: 100%;
    position: absolute;
    top: -0.8rem;
    left: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .highlights-cards-row{
        padding: 0.9rem 0;
    }
    .highlights-cards-row .highlight-card{
        padding: 0.9rem 1.4rem;
    }
    .highlights-cards-row .highlight-card span{
        font-size: calc(0.95rem + 0.5vw);
        margin-top: 1.4rem;
    }
    .highlights-cards-row .highlight-card p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.35rem;
    }
    .highlights-cards-row .highlight-card a{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.45rem;
        padding: 0.29rem 0.95rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .highlights-cards-row{
        padding: 0.8rem 0;
    }
    .highlights-cards-row .highlight-card{
        padding: 0.8rem 1.4rem;
    }
    .highlights-cards-row .highlight-card span{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .highlights-cards-row .highlight-card p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.3rem;
    }
    .highlights-cards-row .highlight-card a{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.35rem;
        padding: 0.27rem 0.9rem;
    }
    .highlights-cards-row .grass{
        top: -0.7rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}