.about-banner{
    position: relative;
}
.about-banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.about-banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7%;
    color: #fff;
    background: linear-gradient(to bottom, #00000000, #0000008d 80%);
}
.about-banner .banner-content h1{
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    margin-top: 6rem;
}
.about-banner .banner-content p{
    margin-top: 0.5rem;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    width: 65%;
}