.insights{
    padding: 4rem 7% 2.5rem 7%;
}
.insights .insights-head{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    border-bottom: 1.5px solid #3ebf89;
    padding-bottom: 1rem;
}
.insights .insights-head h2{
    width: 75%;
    font-size: calc(1.7rem + 0.5vw);
    font-weight: 600;
    margin: 0;
}
.insights p{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
}
.insights .insights-head p{
    margin: 0;
}
.insights .insights-body{
    margin-top: 2rem;
}