.insights{
    padding: 4rem 7% 2.5rem 7%;
}
.insights .insights-head{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    border-bottom: 1.5px solid #3ebf89;
    padding-bottom: 1rem;
}
.insights .insights-head h2{
    width: 75%;
    font-size: calc(1.7rem + 0.5vw);
    font-weight: 600;
    margin: 0;
}
.insights p{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
}
.insights .insights-head p{
    margin: 0;
}
.insights .insights-body{
    margin-top: 2rem;
}

.no-career-data{
    padding: 3rem 7%;
    margin: 0;
    text-align: center;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 500;
    color: rgb(189, 0, 0);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .insights{
        padding: 3.5rem 7% 2rem 7%;
    }
    .insights .insights-head{
        border-bottom: 1px solid #3ebf89;
        padding-bottom: 0.9rem;
    }
    .insights .insights-head h2{
        font-size: calc(1.6rem + 0.5vw);
    }
    .insights p{
        font-size: calc(0.65rem + 0.5vw);
    }
    .insights .insights-body{
        margin-top: 1.7rem;
    }

    .no-career-data{
        padding: 2.5rem 7%;
        font-size: calc(0.8rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .insights{
        padding: 3rem 7% 1.5rem 7%;
    }
    .insights .insights-head{
        border-bottom: 1px solid #3ebf89;
        padding-bottom: 0.8rem;
    }
    .insights .insights-head h2{
        font-size: calc(1.5rem + 0.5vw);
    }
    .insights p{
        font-size: calc(0.6rem + 0.5vw);
    }
    .insights .insights-body{
        margin-top: 1.5rem;
    }

    .no-career-data{
        padding: 2rem 7%;
        font-size: calc(0.75rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .insights{
        padding: 1.5rem 1rem 1rem 1rem;
    }
    .insights .insights-head{
        border-bottom: 1px solid #3ebf89;
        padding-bottom: 0.6rem;
    }
    .insights .insights-head h2{
        font-size: calc(1.25rem + 0.5vw);
        width: 100%;
    }
    .insights p{
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .insights .insights-head p{
        margin: 0;
        margin-top: 0.3rem;
        font-size: calc(0.75rem + 0.5vw);
    }
    .insights .insights-body{
        margin-top: 1rem;
    }

    .no-career-data{
        padding: 3rem 1rem;
        font-size: calc(0.9rem + 0.5vw);
    }
}