.contact-map{
    height: 60vh;
    overflow: hidden;
    margin: 1rem 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-map{
        margin: 0.9rem 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-map{
        margin: 0.8rem 0;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .contact-map{
        height: 40vh;
        margin: 0.7rem 0;
        margin-top: 2.5rem;
    }
}