.blog-posts{
    padding: 0 7% 5rem 7%;
}
.blog-posts h5{
    color: #000;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    text-align: center;
}
.blog-posts h5 span{
    font-weight: 200;
}
.blog-posts p{
    margin-top: 1rem;
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}
.blog-posts-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.blog-posts-row .blog-post-card{
    width: 31%;
    position: relative;
    overflow: hidden;
}
.blog-posts-row .blog-post-card .blog-post-date{
    padding: 0.7rem 1.4rem;
    position: absolute;
    top: 0;
    left: 1.2rem;
    background-color: #3ebf89;
    color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-posts-row .blog-post-card .blog-post-date .blog-date{
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 800;
    line-height: 1;
}
.blog-posts-row .blog-post-card .blog-post-date .blog-month{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-top: 0.3rem;
}
.blog-posts-row .blog-post-card img{
    width: 100%;
    scale: 1;
    transition: all 0.4s ease;
}
.blog-posts-row .blog-post-card:hover img{
    scale: 1.07;
}
.blog-posts-row .blog-post-card .card-desc{
    padding: 0 1.2rem;
}
.blog-posts-row .blog-post-card .desc-content{
    background-color: #fff;
    text-align: center;
    padding: 2.5rem 1rem 1rem 1rem;
    margin-top: -3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.35s ease;
}
.blog-posts-row .blog-post-card:hover .desc-content{
    margin-top: -5rem;
}
.blog-posts-row .blog-post-card .blog-sub-title{
    color: #3ebf89;
    font-weight: 500;
    font-size: calc(0.6rem + 0.5vw);
}
.blog-posts-row .blog-post-card .blog-title{
    color: #000;
    font-weight: 700;
    font-size: calc(0.9rem + 0.5vw);
    display: block;
}
.blog-posts-row .blog-post-card p{
    margin-top: 0.5rem;
    font-size: calc(0.65rem + 0.5vw);
}
.blog-posts-row .blog-post-card button{
    background-color: #fff;
    color: #3ebf89;
    border: 2px solid #3ebf89;
    border-radius: 5px;
    margin-top: 1.2rem;
    padding: 0.45rem 1.4rem;
    font-weight: 550;
    font-size: calc(0.65rem + 0.5vw);
    font-family: "Anek Bangla", sans-serif !important;
    text-transform: none;
}
.blog-posts-row .blog-post-card button:hover{
    background-color: #3ebf89;
    color: #fff;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .blog-posts{
        padding: 0 7% 4.5rem 7%;
    }
    .blog-posts h5{
        font-size: calc(3rem + 0.5vw);
    }
    .blog-posts p{
        margin-top: 0.9rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .blog-posts-row{
        margin-top: 2.5rem;
    }
    .blog-posts-row .blog-post-card .blog-post-date{
        padding: 0.7rem 1.3rem;
    }
    .blog-posts-row .blog-post-card .blog-post-date .blog-date{
        font-size: calc(1.2rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .blog-post-date .blog-month{
        font-size: calc(0.65rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .desc-content{
        padding: 2.3rem 0.9rem 0.9rem 0.9rem;
        margin-top: -2.8rem;
    }
    .blog-posts-row .blog-post-card:hover .desc-content{
        margin-top: -4.8rem;
    }
    .blog-posts-row .blog-post-card .blog-sub-title{
        font-size: calc(0.55rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .blog-title{
        font-size: calc(0.85rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card p{
        margin-top: 0.4rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card button{
        border: 1.5px solid #3ebf89;
        margin-top: 1.2rem;
        padding: 0.4rem 1.3rem;
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .blog-posts{
        padding: 0 7% 4rem 7%;
    }
    .blog-posts h5{
        font-size: calc(2.7rem + 0.5vw);
    }
    .blog-posts p{
        margin-top: 0.8rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .blog-posts-row{
        margin-top: 2rem;
    }
    .blog-posts-row .blog-post-card .blog-post-date{
        padding: 0.6rem 1.2rem;
    }
    .blog-posts-row .blog-post-card .blog-post-date .blog-date{
        font-size: calc(1.1rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .blog-post-date .blog-month{
        font-size: calc(0.6rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .desc-content{
        padding: 2rem 0.8rem 0.8rem 0.8rem;
        margin-top: -2.5rem;
    }
    .blog-posts-row .blog-post-card:hover .desc-content{
        margin-top: -4.5rem;
    }
    .blog-posts-row .blog-post-card .blog-sub-title{
        font-size: calc(0.5rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .blog-title{
        font-size: calc(0.8rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card p{
        margin-top: 0.35rem;
        font-size: calc(0.55rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card button{
        border: 1.5px solid #3ebf89;
        margin-top: 1.1rem;
        padding: 0.35rem 1.2rem;
        font-size: calc(0.55rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .blog-posts{
        padding: 0 1rem 2rem 1rem;
    }
    .blog-posts h5{
        font-size: calc(2rem + 0.5vw);
    }
    .blog-posts p{
        margin-top: 0.7rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .blog-posts p br{
        display: none;
    }
    .blog-posts-row{
        margin-top: 2rem;
    }
    .blog-posts-row .blog-post-card{
        width: 100%;
        margin-bottom: 2rem;
    }
    .blog-posts-row .blog-post-card .blog-post-date{
        padding: 0.6rem 1.2rem;
        left: 1rem;
    }
    .blog-posts-row .blog-post-card .blog-post-date .blog-date{
        font-size: calc(1.3rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .blog-post-date .blog-month{
        font-size: calc(0.8rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .card-desc{
        padding: 0 1rem;
    }
    .blog-posts-row .blog-post-card .desc-content{
        padding: 2rem 0.5rem 1rem 0.5rem;
        margin-top: -3rem;
    }
    .blog-posts-row .blog-post-card:hover .desc-content{
        margin-top: -4rem;
    }
    .blog-posts-row .blog-post-card .blog-sub-title{
        font-size: calc(0.85rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card .blog-title{
        font-size: calc(1.15rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .blog-posts-row .blog-post-card button{
        border: 1.8px solid #3ebf89;
        margin-top: 1.1rem;
        padding: 0.3rem 1.3rem;
        font-size: calc(0.9rem + 0.5vw);
    }
}