.blog-posts{
    padding: 0 7% 4rem 7%;
}
.blog-posts h5{
    color: #000;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    text-align: center;
}
.blog-posts h5 span{
    font-weight: 200;
}
.blog-posts p{
    margin-top: 1rem;
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}