.our-values{
    padding: 0 0 1rem 0;
}
.our-values h3{
    color: #3ebf89;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    text-align: center;
}
.our-values h3 span{
    font-weight: 300;
}
.our-values .our-values-row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-values .our-values-row .value-box{
    width: 25%;
    position: relative;
}
.our-values .our-values-row .value-box img{
    width: 100%;
    scale: 1;
    transition: all 0.3s ease;
}
.our-values .our-values-row .value-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 2rem;
    color: #fff;
}
.our-values .our-values-row .value-content span{
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 500;
}
.our-values .our-values-row .value-content p{
    font-size: calc(0.55rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    margin-top: 0.5rem;
}