.technology{
    padding: 4rem 7%;
}
.technology .technology-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.technology .technology-head h4{
    width: 42%;
    color: #3ebf89;
    font-size: calc(4rem + 0.5vw);
    font-weight: 900;
}
.technology .technology-head h4 span{
    font-weight: 300;
    font-size: calc(2.7rem + 0.5vw);
}
.technology .technology-head p{
    width: 55%;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    color: #4a4a4a;
}
.technology-images-grid{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.technology-images-grid .technology-left{
    width: 20%;
    overflow: hidden;
}
.technology-images-grid .technology-center{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.technology-images-grid .technology-center .center-top{
    height: 35%;
    overflow: hidden;
}
.technology-images-grid .technology-center .center-bottom{
    height: 65%;
    overflow: hidden;
}
.technology-images-grid .technology-right{
    width: 45%;
    overflow: hidden;
}
.technology-images-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: scale 0.4s ease;
}
.technology-images-grid img:hover{
    scale: 1.05;
}