.solutions-banner{
    position: relative;
}
.solutions-banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.solutions-banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 4rem 7%;
    color: #fff;
}
.solutions-banner .banner-content h1{
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    margin-top: 6rem;
}
.solutions-banner .banner-content p{
    margin-top: 0.5rem;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    width: 65%;
}