header{
    padding: 0.8rem 7%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
}
header .header-left span{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 450;
}
header .header-right{
    display: flex;
    gap: 2rem;
}
header .header-right .head-box{
    display: flex;
    align-items: center;
}
header .header-right .head-box p{
    margin: 0;
    font-size: calc(0.6rem + 0.5vw);
}
header .header-right .head-box .icon{
    font-size: calc(0.68rem + 0.5vw);
    margin-right: 8px;
}
header .header-right .head-box:first-child .icon{
    font-size: calc(0.9rem + 0.5vw);
}
header .header-right .social-icons{
    display: flex;
    gap: 1rem;
}
header .header-right .social-icons a{
    font-size: calc(0.6rem + 0.5vw);
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    background-color: #3ebf89;
    transition: all 0.2s ease;
}
header .header-right .social-icons a:hover{
    background-color: #29ab74;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    header{
        padding: 0.7rem 7%;
    }
    header .header-left span{
        font-size: calc(0.55rem + 0.5vw);
    }
    header .header-right{
        gap: 1.9rem;
    }
    header .header-right .head-box p{
        font-size: calc(0.55rem + 0.5vw);
    }
    header .header-right .head-box .icon{
        font-size: calc(0.63rem + 0.5vw);
    }
    header .header-right .head-box:first-child .icon{
        font-size: calc(0.85rem + 0.5vw);
    }
    header .header-right .social-icons{
        gap: 0.9rem;
    }
    header .header-right .social-icons a{
        font-size: calc(0.55rem + 0.5vw);
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    header{
        padding: 0.6rem 7%;
    }
    header .header-left span{
        font-size: calc(0.5rem + 0.5vw);
    }
    header .header-right{
        gap: 1.8rem;
    }
    header .header-right .head-box p{
        font-size: calc(0.5rem + 0.5vw);
    }
    header .header-right .head-box .icon{
        font-size: calc(0.58rem + 0.5vw);
    }
    header .header-right .head-box:first-child .icon{
        font-size: calc(0.8rem + 0.5vw);
    }
    header .header-right .social-icons{
        gap: 0.8rem;
    }
    header .header-right .social-icons a{
        font-size: calc(0.5rem + 0.5vw);
        width: 28px;
        height: 28px;
        line-height: 25px;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    header{
        display: none;
    }
}