.navbar {
  padding: 1.3rem 7% !important;
  background: transparent;
  position: absolute;
  top: 3.8rem;
  width: 100%;
}

.navbar .nav-brand img {
  width: 150px;
}

.navbar .nav-link {
  color: #fff !important;
  font-weight: 700;
  font-size: calc(0.55rem + 0.5vw);
  margin-left: 0.8rem;
  padding: 0.4rem 0.7rem !important;
  border: 3px solid transparent;
}
.navbar .nav-link.active {
  border: 3px solid #3ebf89;
  background-color: #3ebf89 !important;
  border-radius: 2px;
}

.navbar .nav-link:hover {
  border: 3px solid #3ebf89;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0.8rem 1rem !important;
  }
  .navbar .nav-brand img {
    width: 50px;
  }
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .offcanvas {
    background: #3ebf89;
    width: 70% !important;
  }
  .offcanvas .offCanvasLogo{
    width: 100px;
  }
  .offcanvas .nav-link {
    color: white !important;
    margin: 0.4rem 0;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    width: max-content;
  }
  .offcanvas .nav-link.active {
    border-bottom: 2px solid #fff;
  }
}

