.navbar{
  padding: 1.3rem 7% !important;
  background: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 3.6rem;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.485);
  z-index: 100;
}
.navbar .nav-brand img{
  width: 140px;
  border-radius: 4px;
}
.navbar .nav-link{
  padding: 0 !important;
  margin-left: 1rem;
}
.navbar .dropdown-menu{
  padding: 0.7rem;
}
.navbar .dropdown-item{
  padding: 0;
}

.nav-link-btn,
#navbarDropdown{
  color: #fff !important;
  background: transparent !important;
  text-transform: none !important;
  font-weight: 600 !important;
  font-size: calc(0.65rem + 0.5vw) !important;
  font-family: "Anek Bangla", sans-serif !important;
  padding: 0.35rem 1rem !important;
  border-radius: 3px !important;
  overflow: hidden;
}
#navbarDropdown{
  padding: 0.49rem 1.2rem !important;
} 
.nav-link-btn:hover,
#navbarDropdown:hover{
  background-color: #fff !important;
  color: #3ebf89 !important;
}
.navbar .nav-link.active .nav-link-btn{
  background-color: #3ebf89 !important;
  color: #fff !important;
}
.navbar .dropdown-item-btn{
  width: 100%;
  background-color: transparent !important;
  color: #424242 !important;
  text-transform: none;
  padding: 0.35rem 0.8rem !important;
  font-weight: 570;
  border-radius: 3px !important;
  font-size: calc(0.6rem + 0.5vw) !important;
  font-family: "Anek Bangla", sans-serif !important;
  justify-content: left;
  transition: none;
}
.navbar .dropdown-item-btn:hover{
  background-color: #3ebf89 !important;
  color: #fff !important;
}
.navbar .dropdown-item.active{
  background-color: transparent !important;
}


/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .navbar{
    padding: 1.2rem 7% !important;
    top: 3.23rem;
    border-top: 1.8px solid rgba(255, 255, 255, 0.485);
  }
  .navbar .nav-brand img{
    width: 130px;
  }
  .navbar .nav-link{
    margin-left: 0.9rem;
  }
  .navbar .dropdown-menu{
    padding: 0.65rem;
  }

  .nav-link-btn,
  #navbarDropdown{
    font-size: calc(0.6rem + 0.5vw) !important;
    padding: 0.3rem 0.95rem !important;
  }
  #navbarDropdown{
    padding: 0.44rem 1.1rem !important;
  } 
  .navbar .dropdown-item-btn{
    padding: 0.3rem 0.75rem !important;
    font-size: calc(0.55rem + 0.5vw) !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .navbar{
    padding: 1.1rem 7% !important;
    top: 2.9rem;
    border-top: 1.6px solid rgba(255, 255, 255, 0.485);
  }
  .navbar .nav-brand img{
    width: 120px;
  }
  .navbar .nav-link{
    margin-left: 0.8rem;
  }
  .navbar .dropdown-menu{
    padding: 0.65rem;
  }

  .nav-link-btn,
  #navbarDropdown{
    font-size: calc(0.55rem + 0.5vw) !important;
    padding: 0.25rem 0.9rem !important;
  }
  #navbarDropdown{
    padding: 0.4rem 1rem !important;
  } 
  .navbar .dropdown-item-btn{
    padding: 0.27rem 0.65rem !important;
    font-size: calc(0.5rem + 0.5vw) !important;
  }
}

@media (max-width: 992px){
  .navbar {
    padding: 0.95rem 1rem !important;
    top: 0;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.485);
  }
  .navbar .nav-brand img{
    width: 125px;
  }
  .navbar-toggler{
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .offcanvas{
    background: #3ebf89;
    width: 70% !important;
  }
  .offcanvas .offCanvasLogo{
    width: 130px;
    border-radius: 4px;
  }
  .offcanvas .MuiTouchRipple-root {
    display: none !important;
  }
  .offcanvas .nav-link{
    margin: 0.8rem 0;
    padding: 0;
    padding-bottom: 0.2rem;
    width: max-content;
  }
  .offcanvas .nav-link.active{
    border-bottom: 2px solid #fff;
  }
  .nav-link-btn,
  #navbarDropdown{
    font-size: calc(1rem + 0.5vw) !important;
    padding: 0 !important;
    justify-content: left !important;
    width: max-content !important;
    min-width: unset !important;
  }
  #navbarDropdown{
    padding: 0 !important;
  } 
  .nav-link-btn:hover,
  #navbarDropdown:hover{
    background-color: transparent !important;
    color: #fff !important;
  }
  .offcanvas .nav-link.active .nav-link-btn{
    background-color: transparent !important;
  }
  .offcanvas .dropdown-menu{
    padding: 0.6rem !important;
    background-color: #0d6f46;
    border: none;
  }
  .offcanvas .dropdown-item{
    padding: 0;
    border-radius: 4px;
  }
  .offcanvas .dropdown-item-btn{
    width: 100%;
    background-color: transparent !important;
    color: #fff !important;
    padding: 0.35rem 0.5rem !important;
    font-size: calc(0.9rem + 0.5vw) !important;
    font-family: "Anek Bangla", sans-serif !important;
    font-weight: 550;
    justify-content: left;
    text-transform: capitalize;
  }
  .offcanvas .dropdown-item:hover{
    background: transparent !important;
  }
  .offcanvas .dropdown-item.active{
    background: #fff !important;
  }
  .offcanvas .dropdown-item.active .dropdown-item-btn{
    color: #3ebf89 !important;
  }
}