.innovation{
    padding: 0 7% 5rem 7%;
}
.innovation h5{
    color: #000;
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    text-align: center;
}
.innovation h5 span{
    font-weight: 200;
}
.innovation .innovation-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.innovation .innovation-top-row .text-box{
    width: 31%;
}
.innovation .innovation-top-row .image-box{
    width: 37%;
}
.innovation .innovation-bottom-row .text-box{
    width: 30%;
}
.innovation .innovation-bottom-row .image-box{
    width: 34%;
}
.innovation .innovation-row .innovation-box img{
    width: 100%;
}
.innovation .innovation-row .text-box{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innovation .innovation-bottom-row .text-box{
    justify-content: end;
}
.innovation .innovation-bottom-row{
    margin-top: -12rem;
}
.innovation .innovation-top-row{
    margin-top: 3rem;
}
.innovation .innovation-row .text-box span{
    color: #3ebf89;
    font-weight: 700;
    font-size: calc(2rem + 0.5vw);
    line-height: 1;
    text-align: center;
}
.innovation .innovation-row .text-box p{
    margin-top: 1rem;
    color: #4a4a4a;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}