.error{
    background-color: #067245;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
.error h1{
    color: #fff;
    font-weight: 800;
    font-size: calc(5rem + 0.5vw);
    letter-spacing: 3px;
    margin-top: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .error h1{
        font-size: calc(2.5rem + 0.5vw);
        margin-top: -1rem;
    }
}