/* Banner Slider Start */
.banner-slider img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.swiper-slide-active img {
  animation: zoomOut 5s ease forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* Banner Slider End */

/* Highlights Start */
.highlights{
    padding: 0 7% 1rem 7%;
    margin-top: -8rem;
    position: relative;
    z-index: 10;
}
/* Highlights End */


