/* Banner Slider Start */
.banner-slider img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.swiper-slide-active img {
  animation: zoomOut 5s ease forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* Banner Slider End */

/* Highlights Start */
.highlights{
    padding: 3rem 7%;
    background-color: #3ebf89;
}
/* Highlights End */


