/* Highlights Start */
.highlights{
    padding: 0 7% 1rem 7%;
    margin-top: -8rem;
    position: relative;
    z-index: 10;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .highlights{
      margin-top: -7.4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .highlights{
      margin-top: -6.7rem;
  }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
  .highlights{
    padding: 0 1rem 1rem 1rem;
    margin-top: -1rem;
  }
}
/* Highlights End */


