/* Banner Slider Start */
.banner-slider img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.swiper-slide-active img {
  animation: zoomOut 5s ease forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
  .banner-slider img{
    height: auto;
  }
}
/* Banner Slider End */

/* Highlights Start */
.highlights{
    padding: 0 7% 1rem 7%;
    margin-top: -8rem;
    position: relative;
    z-index: 10;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .highlights{
      margin-top: -7.4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .highlights{
      margin-top: -6.7rem;
  }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Highlights End */


