.contact-form{
    padding: 2.5rem 3rem;
    border-radius: 40px;
    background-color: #0d6f46;
    color: #fff;
}
.contact-form span{
    font-weight: 600;
    font-size: calc(1.5rem + 0.5vw);
}
.contact-form p{
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 0.5rem;
}
.contact-form form{
    margin-top: 2rem;
}
.contact-form form label{
    display: block;
    color: #eee;
    font-size: 1.2rem;
}
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.7rem 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #eee;
    resize: none;
}
.contact-form form input:focus,
.contact-form form textarea:focus{
   border-bottom: 1px solid #fff;
}
.contact-form form button{
   background-color: #3ebf89;
   font-size: calc(0.8rem + 0.5vw);
   padding: 0.9rem 2.5rem;
   border: none;
   border-radius: 50px;
   color: #fff;
   font-weight: 500;
   transition: all 0.2s ease;
}
.contact-form form button:hover{
   background-color: #0a462d;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-form{
        padding: 2rem 2.5rem;
        border-radius: 35px;
    }
    .contact-form span{
        font-size: calc(1.4rem + 0.5vw);
    }
    .contact-form p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .contact-form form{
        margin-top: 1.8rem;
    }
    .contact-form form label{
        font-size: 1.1rem;
    }
    .contact-form form input,
    .contact-form form textarea{
        font-size: 1rem;
        padding: 0.6rem 0;
        margin-top: 0.5rem;
        margin-bottom: 1.3rem;
    }
    .contact-form form button{
        font-size: calc(0.7rem + 0.5vw);
        padding: 0.8rem 2.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-form{
        padding: 1.5rem 2rem;
        border-radius: 30px;
    }
    .contact-form span{
        font-size: calc(1.3rem + 0.5vw);
    }
    .contact-form p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .contact-form form{
        margin-top: 1.5rem;
    }
    .contact-form form label{
        font-size: 1rem;
    }
    .contact-form form input,
    .contact-form form textarea{
        font-size: 0.9rem;
        padding: 0.5rem 0;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .contact-form form button{
        font-size: calc(0.65rem + 0.5vw);
        padding: 0.65rem 2.1rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .contact-form{
        margin-top: 1.5rem;
        padding: 1rem 1.2rem;
        border-radius: 20px;
    }
    .contact-form span{
        font-size: calc(1.3rem + 0.5vw);
    }
    .contact-form p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .contact-form p br{
        display: none;
    }
    .contact-form form{
        margin-top: 1.5rem;
    }
    .contact-form form label{
        font-size: 1.2rem;
    }
    .contact-form form input,
    .contact-form form textarea{
        font-size: 1.1rem;
        padding: 0.5rem 0;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .contact-form form button{
        font-size: calc(0.9rem + 0.5vw);
        padding: 0.6rem 1.5rem;
    }
}