footer{
    background-color: #3ebf89;
}
footer .footer-content{
    padding: 4rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-content .foot-box:nth-child(1){
    width: 30%;
}
footer .footer-content .foot-box:nth-child(2){
    width: 15%;
}
footer .footer-content .foot-box:nth-child(3){
    width: 15%;
}
footer .footer-content .foot-box:nth-child(4){
    width: 25%;
}
footer .footer-content .foot-box img{
    width: 200px;
    border-radius: 5px;
}
footer .footer-content .foot-box p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
footer .footer-content .foot-box span{
    color: #fff;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
}
footer .footer-content .foot-box a{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
footer .footer-content .foot-box a:hover{
    text-decoration: underline;
}
footer .footer-content .foot-box a .icon{
    font-size: calc(0.9rem + 0.5vw);
}
footer .footer-content .foot-box a .phone-icon{
    font-size: calc(0.8rem + 0.5vw);
}
footer .footer-content .foot-box .social-icons{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
footer .footer-content .foot-box .social-icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #3ebf89;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
footer .footer-content .foot-box .social-icons a:hover{
    background-color: #128454;
    color: #fff;
}
footer .footer-content .foot-box .social-icons .icon{
    font-size: calc(0.7rem + 0.5vw);
}
footer .copyright{
    padding: 1rem 0;
    background-color: #0c6f46;
}
footer .copyright p{
    margin: 0;
    color: #fff;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    footer .footer-content{
        padding: 3.5rem 7%;
    }
    footer .footer-content .foot-box img{
        width: 185px;
    }
    footer .footer-content .foot-box p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.8rem;
    }
    footer .footer-content .foot-box span{
        font-size: calc(1.1rem + 0.5vw);
        margin-bottom: 0.9rem;
    }
    footer .footer-content .foot-box a{
        font-size: calc(0.65rem + 0.5vw);
        margin-bottom: 0.45rem;
        gap: 0.45rem;
    }
    footer .footer-content .foot-box a .icon{
        font-size: calc(0.85rem + 0.5vw);
    }
    footer .footer-content .foot-box a .phone-icon{
        font-size: calc(0.75rem + 0.5vw);
    }
    footer .footer-content .foot-box .social-icons{
        margin-top: 1.8rem;
        gap: 0.9rem;
    }
    footer .footer-content .foot-box .social-icons a{
        width: 37px;
        height: 37px;
    }
    footer .footer-content .foot-box .social-icons .icon{
        font-size: calc(0.65rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.9rem 0;
    }
    footer .copyright p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    footer .footer-content{
        padding: 3rem 7%;
    }
    footer .footer-content .foot-box img{
        width: 170px;
    }
    footer .footer-content .foot-box p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.7rem;
    }
    footer .footer-content .foot-box span{
        font-size: calc(1rem + 0.5vw);
        margin-bottom: 0.8rem;
    }
    footer .footer-content .foot-box a{
        font-size: calc(0.6rem + 0.5vw);
        margin-bottom: 0.4rem;
        gap: 0.4rem;
    }
    footer .footer-content .foot-box a .icon{
        font-size: calc(0.8rem + 0.5vw);
    }
    footer .footer-content .foot-box a .phone-icon{
        font-size: calc(0.7rem + 0.5vw);
    }
    footer .footer-content .foot-box .social-icons{
        margin-top: 1.7rem;
        gap: 0.8rem;
    }
    footer .footer-content .foot-box .social-icons a{
        width: 34px;
        height: 34px;
    }
    footer .footer-content .foot-box .social-icons .icon{
        font-size: calc(0.6rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.8rem 0;
    }
    footer .copyright p{
        font-size: calc(0.5rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    footer .footer-content{
        padding: 2rem 1rem 1.5rem 1rem;
    }
    footer .footer-content .foot-box:nth-child(1){
        width: 100%;
    }
    footer .footer-content .foot-box:nth-child(2){
        width: 100%;
        margin-bottom: 0.6rem;
    }
    footer .footer-content .foot-box:nth-child(3){
        width: 100%;
        margin-bottom: 0.6rem;
    }
    footer .footer-content .foot-box:nth-child(4){
        width: 100%;
    }
    footer .footer-content .foot-box img{
        width: 160px;
    }
    footer .footer-content .foot-box p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1rem;
    }
    footer .footer-content .foot-box span{
        font-size: calc(1.4rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    footer .footer-content .foot-box a{
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 0.6rem;
    }
    footer .footer-content .foot-box a .icon{
        font-size: calc(1.1rem + 0.5vw);
    }
    footer .footer-content .foot-box a .phone-icon{
        font-size: calc(0.95rem + 0.5vw);
    }
    footer .footer-content .foot-box .social-icons{
        margin-top: 1.6rem;
    }
    footer .footer-content .foot-box .social-icons a{
        width: 35px;
        height: 35px;
    }
    footer .footer-content .foot-box .social-icons .icon{
        font-size: calc(1.1rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.7rem 0;
    }
    footer .copyright p{
        font-size: calc(0.75rem + 0.5vw);
    }
}