footer{
    background-color: #3ebf89;
}
footer .footer-content{
    padding: 4rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-content .foot-box:nth-child(1){
    width: 30%;
}
footer .footer-content .foot-box:nth-child(2){
    width: 15%;
}
footer .footer-content .foot-box:nth-child(3){
    width: 15%;
}
footer .footer-content .foot-box:nth-child(4){
    width: 25%;
}
footer .footer-content .foot-box img{
    width: 200px;
}
footer .footer-content .foot-box p{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
}
footer .footer-content .foot-box span{
    color: #fff;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
}
footer .footer-content .foot-box a{
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
footer .footer-content .foot-box a:hover{
    text-decoration: underline;
}
footer .footer-content .foot-box a .icon{
    font-size: calc(0.9rem + 0.5vw);
}
footer .footer-content .foot-box a .phone-icon{
    font-size: calc(0.8rem + 0.5vw);
}
footer .footer-content .foot-box .social-icons{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
footer .footer-content .foot-box .social-icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #3ebf89;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
footer .footer-content .foot-box .social-icons a:hover{
    background-color: #128454;
    color: #fff;
}
footer .footer-content .foot-box .social-icons .icon{
    font-size: calc(0.7rem + 0.5vw);
}
footer .copyright{
    padding: 1rem 0;
    background-color: #0c6f46;
}
footer .copyright p{
    margin: 0;
    color: #fff;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    text-align: center;
}