.training{
    padding: 1rem 0 4.5rem 0;
    position: relative;
    overflow: hidden;
}
.training img{
    width: 100%;
}
.training .training-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.training .training-content .line{
    width: 75%;
    height: 6px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 8rem;
}
.training .training-content .content-box{
    width: 44%;
    height: max-content;
    padding: 0 6% 4rem 0;
    margin-top: -10rem;
    color: #fff;
    border-bottom: 6px solid #fff;
}
.training .training-content .content-box h5{
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 900;
    white-space: nowrap;
}
.training .training-content .content-box h5 span{
    font-weight: 400;
}
.training .training-content .content-box p{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}