.banner-slider img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.swiper-slide-active img {
  animation: zoomOut 5s ease forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
  .banner-slider img{
    height: auto;
  }
}